.form__button-save {
  width: 100%;
  background: #000000;
  border-radius: 2px;
  margin: 18px auto 0;
  font-size: 18px;
  line-height: 22px;
  box-sizing: border-box;
  padding: 14px 0 18px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  transition: opacity .2s linear;
}
  
.form__button-save:hover {
    opacity: .8;
    cursor: pointer;
  }
  
@media screen and (max-width: 568px) {
  .form__button-save  {
    font-size: 14px;
    padding-bottom: 14px;
    line-height: 17px;
  }
}