.form__text-input {
  margin: 0;
  padding: 0px 0 8px;
  width: 100%;
  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(0,0,0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  outline: none;
}
