.header {
  max-width: 880px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #545454;
  margin: 45px 0 40px; 
}

@media screen and (max-width: 984px) {
  .header {
    margin: 28px auto 36px;
    max-width: 614px;
  }
}

@media screen and (max-width: 614px) {
  .header {
    min-width: 320px;
    margin: 28px auto 42px;
  }
}