.profile__info {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  max-width: 336px;
}

@media screen and (max-width:568px) {
  .profile__info {
    width: 100%;
    text-align: center;
  }
 }